body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(hatter_169.png);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: white;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadeIn 1.2s ease-out forwards;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

    .header img {
        height: 60px;
        vertical-align: middle;
    }

    .header span {
        font-size: 28px;
        font-weight: bold;
        margin: 0 20px;
        vertical-align: middle;
    }

table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto 0 auto;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    backdrop-filter: blur(8px);
}

th, td {
    border: 1px solid rgba(255,255,255,0.3);
    padding: 10px;
    text-align: center;
    color: white;
}

th {
    background: rgba(255,255,255,0.15);
    font-weight: bold;
}
