body {
    background-image: url(soroshurka_sot.png);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 1.2s ease-out forwards;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto 0 auto;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}